<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <link rel="stylesheet" href="./stylesheets/mypage.css">
</head>
<body>
    <div id="header">
        <p id="logo">
            <a href="/">광주소프트웨어마이스터고등학교</a>
        </p>
        <h1>
           Special Lecture Calendar
        </h1>
    </div>
    <div id=menu>
        <div class="user_box">
            <p><img src="user_s.png" id="userpic"></p>
            <a href="/login" id="log_out">[로그아웃]</a>
            <h4><%= name %></h4>
        </div>
        <div id="home">
            <a href="/" id="home_text">홈으로</a>
        </div>
        <div id="check">
            <a href="/mypage" id="check_text">마이페이지</a>
        </div>

        

        <ul class="vertical-menu">
            <li><a href="소감문 게시판.html">소감문 게시판</a></li>
            <li><a href="특강신청.html">특강 신청</a></li>
        </ul>
        <div class="name_box">
            <h1>
                My_Page
            </h1>
            <h2>
                나의 정보 
            </h2>
        </div>
    </div>

<script src="></script>
</body>
</html>