body{
    background-color: rgba(213, 235, 238, 0.253);
    overflow-y: hidden;
    overflow-x: hidden;
}
html,body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
div{
    border: 1px solid rgba(0, 0, 0, 0.157);
}
#header{
    background-color: #4791d2;
    position: relative;
    top: -10px;
    left: -10px;
    float: left;
    width: 1928px;
    height: 56px;
 }

#header p#logo{
    color: #fff;
    background: #366d9d;
}

#header #logo{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 10px 0 10px;
    font-weight: bold;
    width: 243px;
    height: 57px;
    position: relative;
    z-index: 1;
   color:#fff;
}
#header a{
    color:#fff;
}
#header h1 {
    text-align: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
    font-size: 30px;
    line-height: 20px;
    color: #fff;

}
#menu {
    position: relative;
    top: 300%;
    left: -10px;
    width: 260px;
    height: 10%;
}
.user_box{
    position: absolute;
    background: #fff;
    width: 260px;
    height: 110px;
    top: 29px;
}
#menu #userpic{
    position: relative;
    top: 20px;
    left: 13px;
    width: 66px;
    height: 56px;
}
#menu h4{
    position: relative;
    top: -80%;
    left: 40%;
}
#menu .user_box #log_out{
    position: relative;
    top: -24px;
    left: 40%;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#home {
    position: relative;
    top: 140px;
    width: 130px;
    height: 40px;
    background: rgb(40, 168, 134);
}
#home_text{
    position: relative;
    top: -48px;
    left: 47px;
    color:white;
}
#check {
    position: relative;
    top: 98px;
    left: 130px;
    width: 130px;
    height: 40px;
    background: rgb(184, 87, 87);
}
#check_text{
    position: relative;
    top: -5px;
    left: 26px;
    color:white;
} 
.vertical-menu {
    position: relative;
    top: 98px;
    left: -50px;
    width: 272px; 
    margin: 0 auto;
}
.vertical-menu a {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #dfdad9;
    color: black;
    padding: 0 20px;
    border-bottom: 1px solid #bebcba;
    text-align: center;
}
.vertical-menu a:hover {
    background-color: #366d9d;
    color: #fff; 
}
.vertical-menu li {
    list-style-type: none;
}
.name_box{
    position: relative;
    top: -139px;
    left: 262px;
    width: 1665px;
    height: 91px;
    background: #fff;
}
.name_box h1{
    position: relative;
    left: -120px;
    font-size: 40px;
    line-height: 19px;
    text-align: center;
}
.name_box h2{
    position: relative;
    left: -120px;
    text-align: center;
    font-size: 16px;
    line-height: 1px;
}
#Cal{
    position: relative;
    left: 450px;
    top: -130px;
    width: 140%;
    height: 850px;
}
#Imp{
    position: relative;
    top: -800px;
    left: 1550px;
    widows: 500px;
    height: 700px;    
}